[Unit]
Description=Run pictureframe.sh on startup
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
ExecStart=/var/www/slideshow/pictureframe.sh
Environment=DISPLAY=:0
ExecStartPre=/bin/bash -c 'while [ -z "$DISPLAY" ]; do sleep 1; done'
Restart=on-failure

[Install]
WantedBy=multi-user.target