[Unit]
Description=Run pictureframe.sh on startup
After=graphical.target

[Service]
ExecStart=/var/www/slideshow/pictureframe.sh
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
Restart=on-failure

[Install]
WantedBy=default.target