@charset "UTF-8";
body {
  font: 100% Helvetica, sans-serif;
  text-align: center;
  color: white;
  background-color: #333;
  margin: 0;
}

#topbar {
  height: 6svh;
  width: 100%;
  background-color: #50a9f2;
  position: relative;
}
#topbar #navWrapper {
  position: absolute;
  left: 0;
  top: 0;
}
#topbar #navWrapper #dropdownBtn:hover #dropdownCont {
  display: grid;
}
#topbar #navWrapper #dropdownCont {
  display: none;
  position: absolute;
  top: 6svh;
  background-color: #C0C0C0;
}
@media (hover: hover) {
  #topbar #navWrapper #dropdownCont.open {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }
  #topbar #navWrapper #dropdownCont.close {
    animation: shrinkUp 300ms ease-in-out forwards;
    transform-origin: top center;
  }
  @keyframes growDown {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(1);
    }
  }
  @keyframes shrinkUp {
    0% {
      transform: scaleY(1);
    }
    20% {
      transform: scaleY(1.1);
    }
    100% {
      transform: scaleY(0);
    }
  }
}
#topbar #navWrapper a {
  color: black;
  height: 6svh;
  padding: 0.3svh;
  width: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#topbar #navWrapper a:not(#dropdownCont a) {
  margin-right: 0.66dvw;
}
#topbar #navWrapper a.active {
  position: relative;
}
#topbar #navWrapper a.active:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4svh;
  height: 0.5svh;
  bottom: 0.5svh;
  background-color: darkblue;
}

.elePointerIcon {
  cursor: pointer;
}

button,
.labelBtn {
  margin: 0.5rem;
  color: black;
  font-size: 1em;
  padding: 0.2vw 0.6svh;
  border-radius: 1em;
  border: 0;
  transition: background-color 0.1s ease;
}
button:enabled,
.labelBtn:enabled {
  cursor: pointer;
}
@media screen and (max-width: 1400px) {
  button,
  .labelBtn {
    font-size: 1em;
  }
}
@media screen and (min-width: 3000px) {
  button,
  .labelBtn {
    font-size: 2em;
  }
}
@media (hover: hover) {
  button:active:enabled,
  .labelBtn:active:enabled {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
  button:hover:enabled,
  .labelBtn:hover:enabled {
    filter: brightness(0.7);
  }
}
button:disabled,
.labelBtn:disabled {
  background-color: initial;
  filter: brightness(0.75);
}
button.btnWhite,
.labelBtn.btnWhite {
  background-color: white;
}
button.btnRed,
.labelBtn.btnRed {
  background-color: red;
}
button.btnBlue,
.labelBtn.btnBlue {
  background-color: #50a9f2;
}
button.imageBtn .image-container,
.labelBtn.imageBtn .image-container {
  position: relative;
}
button.imageBtn .image-container img,
.labelBtn.imageBtn .image-container img {
  width: 30svh;
}
button.imageBtn .image-container .overlay-text,
.labelBtn.imageBtn .image-container .overlay-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 1rem;
  background-color: #50a9f2;
  padding: 0.2svh;
  border-radius: 0.2svh;
  width: 100%;
  text-align: center;
}

#deleteBtn,
#deleteAllBtn {
  display: none;
}

#imageUploadCont {
  margin-top: 1svh;
}
#imageUploadCont #uploadImageFile {
  border: dashed gray;
  width: 40svh;
  height: 20svh;
  margin: auto;
  font-style: italic;
}
@media (orientation: portrait) {
  #imageUploadCont #uploadImageFile {
    width: 100%;
  }
}
#imageUploadCont #uploadImageFile #uploadLabel {
  width: 100%;
  height: 100%;
  font-size: 1.5svh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (hover: hover) {
  #imageUploadCont #uploadImageFile #uploadLabel::after {
    content: ", eller træk billeder her";
  }
}
#imageUploadCont #uploadImageInput {
  display: none;
}

#imagePreviewCont .imageCont {
  position: relative;
  display: inline-block;
  margin: 0.5svw;
}
#imagePreviewCont .previewImage {
  max-height: 20svh;
}
#imagePreviewCont .deleteImageBtn {
  background-color: red;
  border-radius: 25%;
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
}
#imagePreviewCont input[type=checkbox] {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

#configCont {
  display: grid;
}
#configCont input {
  margin: auto;
  max-width: fit-content;
}
#configCont label {
  margin-top: 1vh;
}
#configCont #removeImageCont {
  display: grid;
  opacity: 50%;
}

dialog {
  margin: auto;
  padding: 1svh;
  border: none;
  border-radius: 2svh;
  position: fixed;
  top: 20%;
}

.errorDialog {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

#hiddenForm {
  display: none;
}

/*# sourceMappingURL=main.css.map */
