// Variables
$fontStack: Helvetica, sans-serif;
$primaryColor: #333;

// Styling
body {
	font: 100% $fontStack;
    text-align: center;
    color: white;
    background-color: $primaryColor;
}

#loginCont {
    display: inline-block;
    width: min-content;
}

a { 
    &:visited {
        color: white;
    }
}