// Variables
$fontStack: Helvetica, sans-serif;
$primaryColor: #333;

// Styling
body {
	font: 100% $fontStack;
    text-align: center;
    color: white;
    background-color: $primaryColor;
}

// Buttons styling
button,
.labelBtn {
	margin: 0.5rem;
	color: black;
	font-size: 1.25em;
	cursor: pointer;
	padding: 0.2vw 0.6svh;
	border-radius: 1em;
	border: 0;
	transition: background-color 0.1s ease;

	@media screen and (max-width: 1400px) {
		font-size: 1em;
	}

	@media screen and (min-width: 3000px) {
		font-size: 2em;
	}

	// Button click and hover effect
	@media (hover: hover) {
		&:active {
			transform: scale(0.98);
			box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
		}

		&:hover{
			filter: brightness(0.7);
		}
	}

	// Button colors
	&.btnWhite {
		background-color: white;
	}
	
	&.btnRed {
		background-color: red;
	}
}

#loginCont {
    display: inline-block;
    width: min-content;
}

#imageUploadCont {
	// Image upload outer div
    #uploadImageFile {
		border: dashed gray;
		width: 40svh;
		height: 20svh;
		margin: auto;
		font-style: italic;

		@media (orientation: portrait) {
			width: 100%;
		}

		// Image upload text label
		#uploadLabel {
			width: 100%;
			height: 100%;
			font-size: 1.5svh;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	// Hde input
	#uploadImageInput {
		display: none;
	}

	#imagePreviewCont {
		.imageCont {
			position: relative;
			display: inline-block;
		}

		// Only set height so that aspect ratio is maintained
		.previewImage {
			max-height: 15svh;
		}

		.deleteImageBtn {
			background-color: red;
			border-radius: 25%;
			border: 0;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

// Error modal styling
#messageModalContent {
    margin: auto;
    position: absolute;
    text-align: left;
    z-index: 1;
    top: 40svh;
    left: 50%;
    translate: -50%;
    padding: 1svh;
    border: none;
    border-radius: 2svh;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

	p {
		color: black;
	}
}

a {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 2vh 2vh;
}