// Variables
$fontStack: Helvetica, sans-serif;
$primaryColor: #333;
$blueColor: #1c8aff;

// Styling
body {
	font: 100% $fontStack;
    text-align: center;
    color: white;
    background-color: $primaryColor;
	margin: 0;
}

// Top bar ele
#topbar {
	height: 6svh;
	width: 100%;
	background-color: lightgrey;

    #navWrapper {
        position: absolute;
        left: 0;
        top: 0;

		#dropdownBtn:hover #dropdownCont {
			display: grid;
		}

		#dropdownCont {
			display: none;
			background-color: #C0C0C0;
			position: absolute;
			top: 6svh;

			a {
				padding: 0.2svh;
				width: auto;
			}
		}

        a {
			color: black;
            margin-right: 0.25dvw;
            width: 6svh;
            height: 6svh;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            // Active nav marker (Green bar at bottom of btn)
            .activeNav {
                display: none;
                position: absolute;
                bottom: 0;
                background-color: green;
                width: 5dvh;
                height: 0.5dvh;
            }
        }
    }
}

// Class to add pointer icon to ele
.elePointerIcon {
	cursor: pointer;
}

// Buttons styling
button,
.labelBtn {
	margin: 0.5rem;
	color: black;
	font-size: 1em;
	padding: 0.2vw 0.6svh;
	border-radius: 1em;
	border: 0;
	transition: background-color 0.1s ease;

	&:enabled {
		cursor: pointer; // Enable pointor cursor, if btn is enabled
	}

	// Change btn size (Is auto-adjusted with font-size) on different screen sizes
	@media screen and (max-width: 1400px) {
		font-size: 1em;
	}

	@media screen and (min-width: 3000px) {
		font-size: 2em;
	}

	// Button click and hover effect
	@media (hover: hover) {
		&:active:enabled {
			transform: scale(0.98);
			box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
		}

		&:hover:enabled {
			filter: brightness(0.7);
		}
	}

	&:disabled {
		background-color: initial;
		filter: brightness(0.75);
	}

	// Button colors
	&.btnWhite {
		background-color: white;
	}
	
	&.btnRed {
		background-color: red;
	}

	&.btnBlue {
		background-color: $blueColor;
	}
}

#deleteBtn,
#deleteAllBtn {
	display: none;
}

// Image upload style
#imageUploadCont {
	// Image upload border div
    #uploadImageFile {
		border: dashed gray;
		width: 40svh;
		height: 20svh;
		margin: auto;
		font-style: italic;

		@media (orientation: portrait) {
			width: 100%;
		}

		// Image upload text label
		#uploadLabel {
			width: 100%;
			height: 100%;
			font-size: 1.5svh;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;

			@media (hover: hover) {
				&::after {
					content: ', eller træk billeder her';
				}
			}
		}
	}

	// Hde input
	#uploadImageInput {
		display: none;
	}
}

// Image preview styling
#previewText {
	display: none;
}

#imagePreviewCont {
	.imageCont {
		position: relative;
		display: inline-block;
		margin: 0.5svw;
	}

	// Only set height so that aspect ratio is maintained
	.previewImage {
		max-height: 20svh;
	}

	.deleteImageBtn {
		background-color: red;
		border-radius: 25%;
		border: 0;
		position: absolute;
		top: 0;
		right: 0;
	}

	input[type='checkbox'] {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
	}
}

a {
	text-decoration: none;
	display: inline-block; // This fixes images being placed too close to nav btn
}

// Config container styling
#configCont {
	display: grid;

	input {
		margin: auto;
		max-width: fit-content;
	}

	label {
		margin-top: 1vh;
	}

	#removeImageCont {
		display: grid;
		opacity: 50%;
	}
}

// Dialog styling
dialog {
    margin: auto;
    padding: 1svh;
    border: none;
    border-radius: 2svh;
	position: fixed;
	top: 20%;
}

// Error dialog specific styling
.errorDialog {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

}

#hiddenForm {
	display: none;
}